<%= form_with(url: "/submit", method: "post") do |f|%>
    <div><%= label_tag(:expire_time, "Expires at:") %></div>
    <div>
      <%= label_tag(:expire_time, "Date:") %>
      <%= f.date_select(:expire_time, default: @time_params) %>
    </div>
    <div>
      <%= label_tag(:expire_time, "Time:") %>
      <%= f.time_select(:expire_time, include_seconds: true, ignore_date: true, default: @time_params)%>
    <div>
  
  <%#= f.datetime_local_field :expire_time, value: @expire_time, min: Date.today%>
  <%= label_tag(:forced_rate, "Exchange rate value:") %>
  <div><%= text_field_tag(:forced_rate, @forced_rate) %>
       <%= submit_tag("Submit") %>
  </div>
  
<% end %>